<html>
<h1>Editing new author</h1>

<form action="/list/author" method="GET">
<div>Name: <input type="text" id="_search" name="_search"/>
<div><input type="submit" value="Save"/></div>
</form>
</html>