<html>
<body>
<h1>Search books</h1>

<form action="/list/book" method="get">
<div>Name: <input type="text" id="_search" name="_search"/></div>
<div><input type="submit" value="Search"/></div>
</form>
</body>
</html>
