
<h1>Editing author</h1>

<form action="/view/author" method="POST">
<input type="hidden" id="id" name="id" value="{{.id}}">
<div>Name: <input type="text" id="name" name="name" value="{{.name}}"/>
<div>Year of birth: <input type="text" id="birthdate" name="birthdate" value="{{.birthdate}}"/>
<div>Biography: <input type="text" id="biography" name="biography" value="{{.biography}}"/>
<div><input type="submit" value="Save"/></div>
</form>
