<h1>Editing author {{.Name}}</h1>

<form action="{{.SubmitURL}}" method="POST">
{{range .Fields}}
    <div>{{.Label}}<input type="text" id="{{.Name}}" name="{{.Name}}" value="{{.Value}}"/>
        {{if .ValidationFailed}}
        <div style="color:red;">{{.Description}}</div>
        {{end}}
    </div>
{{end}}
    <div><input type="submit" value="Save"/></div>
</form>
