<html>
{{if and ._success .id}}
<meta http-equiv="refresh" content="0; URL=/book?id={{.id}}" />
{{- else}}

<h1>Editing book</h1>

{{if .id}}
<form action="/edit/book?id={{.id}}" method="POST">
<input type="hidden" id="id" name="id" value="{{.id}}">
{{else}}
<form action="/edit/book" method="POST">
{{end}}
<div>
Name: <input type="text" id="name" name="name" value="{{.name}}"/>
</div>
{{if ._name_fail}}
<div style="color:red">Fail</div>
{{end}}
<div>
Year: <input type="text" id="year" name="year" value="{{.year}}"/>
</div>
{{if ._year_fail}}
<div style="color:red">Fail</div>
{{end}}
<div>
Synopsis: <input type="text" id="synopsis" name="synopsis" value="{{.synopsis}}"/>
</div>
{{if ._synopsis_fail}}
<div style="color:red">Fail</div>
{{end}}
<div>
<input type="submit" value="Save"/>
</div>
</form>
{{- end}}
</html>
