<html>
<h1>Book: {{.name}}</h1>

Author: {{.author}}
<br>
Year of birth: {{.year}}
<br>
Synopsis: {{.synopsis}}
<br>
<div><A href="/edit/book?id={{.id}}&name={{.name}}&year={{.year}}&synopsis={{.synopsis}}">Edit</A></div>
</html>