{{$firstElement := true}}
[
{{- range .}}
{{$firstPair := true}}
{{- if $firstElement}}{{$firstElement = false}}{{else}},{{end}}{
{{- range $key, $value := .}}
{{if $firstPair}}{{$firstPair = false}}{{else}},{{end}}"{{$key}}":"{{$value}}"
{{- end}}
}
{{- end}}
]
