<h1>Editing new book</h1>

<form action="/view/book" method="POST">
<div>Name: <input type="text" id="name" name="name"/>
<div>Year: <input type="text" id="year" name="year"/>
<div>Synopsis: <input type="text" id="synopsis" name="synopsis"/>
<div><input type="submit" value="Save"/></div>
</form>
