<html>
<body>
<h1>Editing new book</h1>

<form action="/edit/book" method="post">
<div>Name: <input type="text" id="name" name="name"/></div>
<div>Year: <input type="text" id="year" name="year"/></div>
<div>Synopsis: <input type="text" id="synopsis" name="synopsis"/></div>
<div><input type="submit" value="Save"/></div>
</form>
</body>
</html>
